/* Write your CSS here */
body {
  margin: 0px;
}
.tab {
  list-style-type: none;
}
.tab-heading {
  background-color: transparent;
  border-width: 0px;
  color: #7b8794;
  font-size: 18px;
  font-family: 'Bree Serif';
  outline: none;
  cursor: pointer;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .tab-heading {
    font-size: 22px;
    margin-right: 80px;
  }
}
.active {
  color: #2563eb;
}
